<div class="sixteen-columns">
  <div class="phone">
    <div class="phone_icon">
      ICON
    </div>
    <div class="phone_info">
      <div class="">LA BOUTIQUE DU PILOTE</div>
      <div class="">La boutique en ligne est joignable au :</div>
      <div class="">01 39 56 29 70</div>
    </div>
  </div>
  <div class="hours_and_directions">
    <div class="calendar_icon">
      CALENDAR
    </div>
  </div>
  <div class="hours">9:00 - 13:00 / 14:00 - 18:00</div>
  <div class="hours">Aéroport - Bâtiment 101 - Zone Est</div>
  <div class="hours">78117 Toussus Le Noble - France</div>
</div>


{% schema %}
{
  "name": "Contact Boutique",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    }
  ]
}
{% endschema %}
